body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
}


html,body,#app,.home-page,.login,.el-container{
    height: 100%;
}
html,body,#app,.login,.bg_video{
    width: 100%;
}
/* login页面 */
.login-page{
    color: #fff;
}
.el-form-item__label{
    color: #fff;
}
/* 用户名密码输入框 */
.el-input__inner {
    background: none;
    color: #fff;
  }

.el-menu--collapse .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.el-menu--collapse .el-menu-item .el-submenu__icon-arrow, .el-menu--collapse .el-submenu .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}
.el-menu-item-group .el-menu-item{
   padding:0 0 0 30px;

}

.el-menu-item-group .el-menu-item-group__title{
    padding:0
}
#nprogress .bar { /*进度条样式*/
    background: pink !important;
}